.container {
  margin: 0 auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #909090;
  gap: 0.5rem;

  p {
    margin: 0;
    font-size: 0.8rem;
    white-space: wrap;
  }
}

@media screen and (max-width: 600px) {
  .container {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}