.container {
  margin-bottom: 1rem;

  .top {
    margin: 40px 0 25px;
  }

  p {
    font-weight: bold;
    letter-spacing: 1px;
  }

  button {
    font-size: 13px;
    letter-spacing: 1px;
  }

  .error {
    color: red;
  }

  .desc {
    color: #868686;
    font-size: 0.8rem;
    font-weight: normal;
    text-align: center;

    span {
      color: #565bdd;
      font-weight: bold;
    }
  }

  :global {
    .ant-btn-variant-solid:disabled {
      background: #6971fe;
      color: white;
    }
  }
}