

.container {
  padding-top: 1rem;
  padding-bottom:1rem;
  box-sizing: border-box;
  background: #f9fbff;

  .inner{
    width: 1440px;
    margin: 0 auto;
  }

  .img {
    width: 200px;
  }

  .login {
    background: #eef0ff;
    color: #4f42b6;
    border-radius: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    letter-spacing: 1px;
    font-size: 15px;
    padding: 0.5rem 1.5rem;
  }


  .out{
    background: #565bdd;
    color: white;
    border-radius: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    letter-spacing: 1px;
    font-size: 15px;
    padding: 0.5rem 1.5rem;
  }

  &.mobile {
    padding: 1rem;
    width: 100%;
    border-bottom: 1px solid #f5f5f5;

    .card {
      font-size: 0.8rem;
    }

    .img {
      width: 8rem;
    }
  }
}
