.container {
  background: #f9fbff;

  .title {
    width: 1440px;
    margin: 50px auto;

    h1, h5 {
      text-align: center;
      margin-bottom: 0;
      letter-spacing: 1px;
    }

    h1 {
      color: #2a1c4f;
    }

    h5 {
      color: #b5afcc;
      font-weight: normal;
    }
  }

  .inner {
    overflow-y: auto;
    background: #eef0ff;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .cardBox {
    width: 1000px;
    margin: 0 auto;
  }
}